@import "tailwindcss";

:root {
    scroll-behavior: smooth;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

.whatsapp-float {
    animation: whatsappFloat 2.2s ease-in-out infinite;
    
}

@keyframes whatsappFloat {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(-6px) rotate(-5deg);
    }

    50% {
        transform: translateY(-12px) rotate(8deg);
    }

    75% {
        transform: translateY(-6px) rotate(-3deg);
    }
}